<launch>
    <arg name="login" default="" />
    <arg name="email_from" default="" />
    <arg name="email_password" default="" />
    <arg name="token" default="0x6B175474E89094C44Da98b954EedeAC495271d0F" />

    <node pkg="drone_passport_agent" type="agent_node" name="agent" output="screen">
        <param name="smtp_provider" value="smtp.gmail.com" />
        <param name="smtp_port" value="587" />
        <param name="login" value="$(arg login)" /> <!-- Gmail account login -->
        <param name="email_from" value="$(arg email_from)" /> <!-- if empty, use login as email from -->
        <param name="email_password" value="$(arg email_password)" /> <!-- app password -->
        <param name="admin_email" value="vadim.manaenko@aira.life" />

        <param name="model" value="QmYVEPMfzSf2GXhA2heLrnhr931xmnXBEfy79Zrk9Aeskv"/>
        <param name="token" value="$(arg token)" />
        <param name="offer_lifetime" value="100" /> <!-- Ethereum blocks lifetime, ~12-15 sec for one -->
    </node>
</launch>
