<launch>
  <arg name="ipfs_http_provider" default="http://127.0.0.1:5001" />
  <arg name="server_address" default="http://0.0.0.0:8051" />

  <node pkg="de_direct" type="objective_composer" name="objective_composer" output="screen">
    <param name="ipfs_http_provider" value="$(arg ipfs_http_provider)" />
    <param name="server_address" value="$(arg server_address)" />

    <!-- default dirs are <install dir>/storage.shelve and /tmp/droneid -->
    <!-- <param name="per_dir" value="/home/vadim/shelve" /> -->
    <!-- <param name="tmp_dir" value="/home/vadim/dronid" /> -->
  </node>
</launch>
